DATABASE_URL=postgresql://usuario:senha@host-neon/banco?sslmode=require
JWT_SECRET=troque-por-uma-chave-secreta-longa
BOOTSTRAP_ADMIN_EMAIL=123
BOOTSTRAP_ADMIN_PASSWORD=vanderson
PORT=3000
NODE_ENV=development
